@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.wrapper{
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    background-image: url("./cricketground.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-y: hidden;
}
.container{
    width: 1200px;
    padding: 2%;
    margin: 0 auto; /*div container move to the centre  */
}
.navbar{
    display: flex; 
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
    font-family: 'poppins';
    color: aliceblue;
    background-color: rgba(0,0,0,0.3);
    border-radius: 20px;
}
.navbar:hover{
    background-color: rgba(255,255,255,0.7);
    transition: 0.2s ease-in;
    color: black;
}
.nav-left{
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 20px;
    padding-bottom: 10px;
}
.nav-left img{
    width: 70px;
    border-radius: 50%;
}
.nav-left-text{
    font-size: 30px;
}
.nav-right{
    display: flex;
    flex-direction: column;
    padding-right: 20px;
    padding-bottom: 10px;
}
.fa-solid{
    padding: 15px;
    width: 20px;
}
.nav-right a{
    text-decoration: none;
    color: white;
}
.nav-right a:hover{
    color: red;
    transition: 0.3s ease-in;
}
.welcome{
    display: flex;
    justify-content: center;
    margin-top: 15%;
    font-size: 80px;
    font-family: 'poppins';
    user-select: none;
    height: 90vh;
    color: aliceblue;
}
.wrapper2{
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    background-image: url("./bat.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-y: hidden;
    background-attachment: fixed;
}
.secondPage {
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 20px; 
    align-items: center; /* Vertically align items */
    height: 100vh;
    overflow: hidden;
    padding: 1%;
}
.paragraph {
    border: 1px solid black;
    padding: 10px;
    background-color: rgba(0,0,0,0.5);
    color: azure;
    border-radius: 15px;
    font-family: 'poppins';
    font-size: 13px;
}

.wrapper3{
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    background-image: url("./bat.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-y: hidden;
    background-attachment: fixed;
}
.paragraph2 {
    border: 1px solid black;
    padding: 10px;
    width: 430px;
    background-color: rgba(0,0,0,0.5);
    color: azure;
    border-radius: 15px;
    font-family: 'poppins';
    font-size: 13px;
}
.image {
    text-align: center; 
}

.image img {
    width: 700px;
    height: auto; /* Maintain aspect ratio */
    border-radius: 15px;
}

.thirdPage {
    display: grid;
    grid-template-columns: 60% 40%;
    gap: 20px; 
    align-items: center; /* Vertically align items */
    height: 100vh;
    overflow: hidden;
}

.wrapper4{
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    background-image: url(".//backgroundimage.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-y: hidden;
    background-attachment: fixed;
}

.fourthPage{
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

.footer{
    text-align: center;
    background-color: rgb(249, 251, 252);
    border: none;
    border-top: 1px solid black;
}